*:not(body) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: bisque;
}

.App, .xpath, .textInput, .dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.App > * {
    margin-block: 1rem;
}

.navbar {
    display: flex;
    /* width: 100%; */
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}

.navbar__btn {
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.navbar__btn:hover,
.navbar__btn:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.navbar__btn:hover {
    transform: translateY(-1px);
}

.navbar__btn--active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}

/* Operations Page */
.textInput {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
}

.textInput__text {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #fa6400;;
    outline: 0;
    font-size: 1.3rem;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.textInput__text::placeholder {
    font-size: 1rem;
}

.textInput__text:placeholder-shown~.textInput__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.textInput__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #763810;
}

.textInput__text:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}

.textInput__text:focus~.textInput__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
}

/* Results */
.xpath {
    gap: 2rem;
}

.xpath__error {
    color: red;
}

.xpath__queryLabel, .xpath__resultLabel {
    font-weight: 900;
    letter-spacing: .3ch;
    font-size: 1.2rem;
}

/* DropDown */
.dropdown__menu {
    background-color: #fa6400;
    padding: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
}

.dropdown__label {
    margin: 1rem;
    color: #763810;
}
